name: Workflow

on:
  pull_request:
  push:

jobs:
  darwin:
    runs-on: macos-latest
    steps:

    - uses: actions/checkout@v3

    - uses: cachix/install-nix-action@v22
      with:
        github_access_token: ${{ secrets.GITHUB_TOKEN }}

    - run: nix run nix-darwin -- --show-trace --flake "${PWD}#x86-darwin" build
